<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Calculator by Evelyn Drake</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Load external js file -->
    <script src="/assets/js/music-calculator.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Evelyn Drake</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Music Calculator</h1>
            <p class="lead">A toolset of useful calculations to help with the process of music creation.</p>
        </div>
    </div>
    <!-- Main content -->
    <div class="container">
    <div class="row ml-4">
        <div class="col">
            <h2>Calculate Note Durations</h2>
            <input type="number" id="bpmInput" placeholder="Enter BPM">
            <div class="mt-3 alert alert-danger d-none" id="bpmWarning" role="alert">
                Invalid BPM value. Please enter a valid number.
            </div>
            <table id="durationTable" class="table table-sm table-striped table-hover table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Note</th>
                        <th>Duration (ms)</th>
                        <th>Duration (Hz)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Whole Note</td>
                        <td id="wholeNoteDuration"></td>
                        <td id="wholeNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Half Note</td>
                        <td id="dottedHalfNoteDuration"></td>
                        <td id="dottedHalfNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Half Note</td>
                        <td id="halfNoteDuration"></td>
                        <td id="halfNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Half Note</td>
                        <td id="halfNoteTripletDuration"></td>
                        <td id="halfNoteTripletFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Quarter Note</td>
                        <td id="dottedQuarterNoteDuration"></td>
                        <td id="dottedQuarterNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Quarter Note</td>
                        <td id="quarterNoteDuration"></td>
                        <td id="quarterNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Quarter Note</td>
                        <td id="quarterNoteTripletDuration"></td>
                        <td id="quarterNoteTripletFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Eighth Note</td>
                        <td id="dottedEighthNoteDuration"></td>
                        <td id="dottedEighthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Eighth Note</td>
                        <td id="eighthNoteDuration"></td>
                        <td id="eighthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Eighth Note</td>
                        <td id="eighthNoteTripletDuration"></td>
                        <td id="eighthNoteTripletFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Sixteenth Note</td>
                        <td id="dottedSixteenthNoteDuration"></td>
                        <td id="dottedSixteenthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Sixteenth Note</td>
                        <td id="sixteenthNoteDuration"></td>
                        <td id="sixteenthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Sixteenth Note</td>
                        <td id="sixteenthNoteTripletDuration"></td>
                        <td id="sixteenthNoteTripletFrequency"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="col">
            <h2>Calculate Note Durations</h2>
            <input type="number" id="bpmInput" placeholder="Enter BPM">
            <div class="mt-3 alert alert-danger d-none" id="bpmWarning" role="alert">
                Invalid BPM value. Please enter a valid number.
            </div>
            <table id="durationTable" class="table table-striped table-hover table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Note</th>
                        <th>Duration (ms)</th>
                        <th>Duration (Hz)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Whole Note</td>
                        <td id="wholeNoteDuration"></td>
                        <td id="wholeNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Half Note</td>
                        <td id="dottedHalfNoteDuration"></td>
                        <td id="dottedHalfNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Half Note</td>
                        <td id="halfNoteDuration"></td>
                        <td id="halfNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Half Note</td>
                        <td id="halfNoteTripletDuration"></td>
                        <td id="halfNoteTripletFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Quarter Note</td>
                        <td id="dottedQuarterNoteDuration"></td>
                        <td id="dottedQuarterNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Quarter Note</td>
                        <td id="quarterNoteDuration"></td>
                        <td id="quarterNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Quarter Note</td>
                        <td id="quarterNoteTripletDuration"></td>
                        <td id="quarterNoteTripletFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Eighth Note</td>
                        <td id="dottedEighthNoteDuration"></td>
                        <td id="dottedEighthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Eighth Note</td>
                        <td id="eighthNoteDuration"></td>
                        <td id="eighthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Eighth Note</td>
                        <td id="eighthNoteTripletDuration"></td>
                        <td id="eighthNoteTripletFrequency"></td>
                    </tr>
                    <tr>
                        <td>Dotted Sixteenth Note</td>
                        <td id="dottedSixteenthNoteDuration"></td>
                        <td id="dottedSixteenthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Sixteenth Note</td>
                        <td id="sixteenthNoteDuration"></td>
                        <td id="sixteenthNoteFrequency"></td>
                    </tr>
                    <tr>
                        <td>Triplet Sixteenth Note</td>
                        <td id="sixteenthNoteTripletDuration"></td>
                        <td id="sixteenthNoteTripletFrequency"></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
    </div>
</body>

</html>